{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" href="{% static '/stylenavbarhome.css' %}">
  <title>Formulario Registro</title>
</head>

<div class="back"></div>
<nav>
  <a href="#">Informacion del Estudiante</a>
  <a href="{% url 'pdf' %}">Documentacion</a>
  <a href="{% url 'home' %}">Regresar</a>

  
  
</nav>


{% endblock %}