{% extends "base.html" %}
{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static '/styleSignup.css' %}">
    <title>Crear facturacion</title>
</head>
<body background="/static/fondobonito.jpg">


<h1 style="text-align:center" class="animate__animated animate__bounce">INFORMACION PERSONAL</h1>

<h1 style="text-align:center" class="animate__animated animate__bounce">Nombre: Sebastian Solares</h1>
<h1 style="text-align:center" class="animate__animated animate__bounce">Carnet: 202004822</h1>
<h1 style="text-align:center" class="animate__animated animate__bounce">IPC2 2S-2022</h1>

<h1 style="text-align:center" class="animate__animated animate__bounce">Ingenieria en sistemas usac</h1>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="{% url 'ayuda' %}" class="btn btn-info">Regresar</a>
</div>


{%endblock%}