.body{
    background-image: url(more.png);
}

.one{

    color: rgb(50, 187, 197);
}
.navbar navbar-expand-lg navbar-light bg-light{

    COLOR: rgb(171, 180, 40);

}
.h1{
    
    color: rgb(68, 68, 66);
    
    text-align: center; 
    font-family: "Times New Roman", Times, serif;
     
     
}

