.body{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:url(https://pp.userapi.com/c841122/v841122831/327e/nHt-92F6yc4.jpg) no-repeat top center #efeff1;
    background-size:cover;
}

.one{

    color: rgb(50, 187, 197);
}
.navbar navbar-expand-lg navbar-light bg-light{

    COLOR: rgb(171, 180, 40);

}
.h1{
    
    color: rgb(68, 68, 66);
    
    text-align: center; 
    font-family: "Times New Roman", Times, serif;
     
     
}

